body {
	height: auto;
	font-family: "Lato", sans-serif;
}

.listingBtn {
	background: none;
	font-weight: bold;
	border-radius: 2em;
	border: 5px solid white;
	box-shadow: 1px 1px 1px black;
	box-sizing: border-box;
	cursor: pointer;
	letter-spacing: -.24px;
	margin: 0;
	outline: none;
	padding: 1rem 1.3rem;
	text-align: center;
	text-decoration: none;
}

.listingBtn:hover {
	background-color:  	#2E8B57;
	box-shadow: #FFDAB9 0 -6px 8px inset;
	transform: scale(1.125);
	color: white;
}

.dashboard-table {
	z-index: 1;
	background-color: 	#F5F5F5;
}

.houseMarketBtn {
	background: none;
	font-weight: bold;
	border-radius: 2em;
	border: 5px solid white;
	box-shadow: 1px 1px 1px black;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	letter-spacing: -.24px;
	margin: 0;
	outline: none;
	padding: 1rem 1.3rem;
	text-align: center;
	text-decoration: none;
	touch-action: manipulation;
}

.houseMarketBtn:hover {
	background-color:white;
	box-shadow: #FFDAB9 0 -6px 8px inset;
	transform: scale(1.125);
	color: #A1BBDD;
}

.logoutBtn {
	background: none;
	font-weight: bold;
	border-radius: 2em;
	border-style: none;
	border: 5px solid white;
	box-shadow: 1px 1px 1px black;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	letter-spacing: -.24px;
	margin: 0;
	outline: none;
	padding: 1rem 1.3rem;
	text-align: center;
	text-decoration: none;
	touch-action: manipulation;
}

.logoutBtn:hover {
	background-color: #8B0000;
	box-shadow: #FFDAB9 0 -6px 8px inset;
	transform: scale(1.125);
	color: white;
}

.houseLink{
	height: 30px;
	width: 100%;
	background-color:  	#778899;
	border-radius: 20px;
	border-style: none;
	color: white;
	font-weight: bold;
}

.houseLink:hover {
	background-color: #2F4F4F;
	box-shadow: #FFDAB9 0 -6px 8px inset;
	transform: scale(1.125);
}

.dashboard-navbar {
	display: flex;  
	justify-content: space-evenly;
	background-image: linear-gradient( #AFC8E7, white );
	padding-bottom: 10px;
}

.dashboard-title {
	font-family: Tahoma (sans-serif);
	font-size: 40px;
	text-shadow: 2px 2px 2px gray;
	font-weight: bold;
	margin-left: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.userGreeting {
	text-align: center;
	font-size: 30px;
	font-family: Tahoma (sans-serif);
	margin-top: 15px;
}

.dashboard-subtitle {
	 text-align: center;
	 font-size: 30px;
	 margin-top: 15px;
	 margin-bottom: 15px;
	 letter-spacing: .25px;
	 font-weight: bold;
	 text-shadow: 1px 1px 1px gray;
}

.user-image {
	height: 22px;
	margin-bottom: 5px;
	margin-left: 5px;
}

.custom-shape-divider-bottom-1663269303 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.custom-shape-divider-bottom-1663269303 svg {
    position: relative;
    display: block;
    width: calc(167% + 1.3px);
    height: 284px;
    transform: rotateY(180deg);
    z-index: -1;
}

.custom-shape-divider-bottom-1663269303 .shape-fill {
    fill: #A1BBDD;
    z-index: -1;
}

.pager-nav {
    margin: 16px 12px;
    float: right;

}
.pager-nav span {
    display: inline-block;
    padding: 4px 8px;
    margin: 1px;
    cursor: pointer;
    font-size: 14px;
    background-color: #FFFFFF;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.pager-nav span:hover,
.pager-nav .pg-selected {
    background-color: #f9f9f9;
    border: 2px solid #CCCCCC;
}