body {
	height: 100vh;
	background-image: linear-gradient(115deg,  	#FFEFD5 20%, #E6E6FA 60%);
	font-family: "Lato", sans-serif;
}


.listingBtn {
	background: none;
	font-weight: bold;
	border-radius: 2em;
	border: 5px solid white;
	box-shadow: 1px 1px 1px black;
	box-sizing: border-box;
	cursor: pointer;
	letter-spacing: -.24px;
	margin: 0;
	outline: none;
	padding: 1rem 1.3rem;
	text-align: center;
	text-decoration: none;
}

.listingBtn:hover {
	background-color:  	#2E8B57;
	box-shadow: #FFDAB9 0 -6px 8px inset;
	transform: scale(1.125);
	color: white;
}

.houseMarketBtn {
	background: none;
	font-weight: bold;
	border-radius: 2em;
	border: 5px solid white;
	box-shadow: 1px 1px 1px black;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	letter-spacing: -.24px;
	margin: 0;
	outline: none;
	padding: 1rem 1.3rem;
	text-align: center;
	text-decoration: none;
	touch-action: manipulation;
}

.houseMarketBtn:hover {
	background-color:  	#4682B4;
	box-shadow: #FFDAB9 0 -6px 8px inset;
	transform: scale(1.125);
	color: white;
}

.logoutBtn {
	background: none;
	font-weight: bold;
	border-radius: 2em;
	border-style: none;
	border: 5px solid white;
	box-shadow: 1px 1px 1px black;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	letter-spacing: -.24px;
	margin: 0;
	outline: none;
	padding: 1rem 1.3rem;
	text-align: center;
	text-decoration: none;
	touch-action: manipulation;
}

.logoutBtn:hover {
	background-color: #8B0000;
	box-shadow: #FFDAB9 0 -6px 8px inset;
	transform: scale(1.125);
	color: white;
}

.houseLink{
	height: 30px;
	background-color: #778899;
	border-radius: 20px;
	border-style: none;
	color: white;
	font-weight: bold;
	cursor: pointer;
	min-width: 100%;
}

.houseLink:hover {
	background-color: #2F4F4F;
	box-shadow: #FFDAB9 0 -6px 8px inset;
	transform: scale(1.125);
}

.housemarket-navbar {
	display: flex;  
	justify-content: space-evenly;

	padding-bottom: 10px;
}

.housemarket-title {
	font-family: Tahoma (sans-serif);
	font-size: 40px;
	text-shadow: 2px 2px 2px gray;
	font-weight: bold;
	margin-left: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.userGreeting {
	text-align: center;
	font-size: 30px;
	font-family: Tahoma (sans-serif);
	margin-top: 15px;
}

.housemarket-deleteBtn {
	height: 50%;
	width: 162px;
	border-radius: 10px;
	border-style: none;
	background-color: #778899;
	color: white;
	text-align: center;
	margin-left: 2px;
	font-weight: bold;
	cursor: pointer;
	margin-top: 5px;
}

.housemarket-deleteBtn:hover {
	background-color: rgb(209, 61, 61);
	text-transform: uppercase;
}

.housemarket-editBtn {
	height: 50%;
	width: 162px;
	border-radius: 10px;
	border-style: none;
	background-color: #778899;
	color: white;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

.housemarket-editBtn:hover {
	background-color:  #1E90FF;
	text-transform: uppercase;
}

.housemarket-saveBtn {
	height: 35px;
	width: 162px;
	border-radius: 10px;
	border-style: none;
	background-color:#053b6c;
	color: white;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	
}

.housemarket-saveBtn:hover {
	font-size: 125%;
	box-shadow: #FFDAB9 -8 -8px 10px inset;
	transform: scale(1.125);
	background-color: #105da3;
}


.housemarket-unsaveBtn {
	height: 40px;
	width: 162px;
	border-radius: 10px;
	border-style: none;
	background-color: #053b6c;
	color: white;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

.housemarket-unsaveBtn:hover {
	font-size: 125%;
	box-shadow: #FFDAB9 -8 -8px 10px inset;
	transform: scale(1.125);
	background-color: #105da3;
}

.house-save-message {
	text-align: center; 
	font-weight: bold; 
	margin-top: 10px;
	color:#800000;
}

.house-save-message:hover {
	font-weight: 900;
}

.user-image {
	height: 22px;
	margin-bottom: 5px;
	
}

.table {
	z-index: 2;
	background-color: #FFFAFA;
	text-align: center;
}

.pager-nav {
    margin: 16px 12px;
    float: right;

}
.pager-nav span {
    display: inline-block;
    padding: 4px 8px;
    margin: 1px;
    cursor: pointer;
    font-size: 14px;
    background-color: #FFFFFF;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.pager-nav span:hover,
.pager-nav .pg-selected {
    background-color: #f9f9f9;
    border: 2px solid #CCCCCC;
}

.no-saved-houses {
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
}

